*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
blog/migrations
comments/migrations
communications/migrations
library/migrations
media/article_pics/*
!media/article_pics/default.jpg
media/library_pics/*
!media/library_pics/default.jpg
media/profile_pics/*
!media/profile_pics/default.jpg
media/tech_tip_pics/*
photos/migrations
resolutions/migrations
search/migrations
tracking/migrations
users/migrations
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/