{% extends 'blog/base.html' %}
{% block content %}
   <div class="mb-2 mt-2 pb-2 border-bottom">
        <h4>Archive</h4>
    </div>
    <div class="row">
    {% for year in date_list %}
        <div class="col-lg-4">
            <div class="mx-auto my-1">
            <a class="article-title" href="{% url 'post-year' year|date:"Y" %}"><h5><u>{{ year|date:"Y" }}</u></h5></a>
                <ul class="list-group list-group-flush">
                    {% for post in latest %}
                        {% if post.date_posted|date:'Y' == year|date:"Y" %}
                            <li class="list-group-item border-0">
                                <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                                <br/>
                                {{ post.content|truncatechars:"60" }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}