{% extends 'library/library_base.html' %}
{% block content %}
    <section>
        <div class="library-center-text library-top-margin">
            <h3>Message Delete</h3>
        </div>
    </section>
    <section>
        <form class="library-center-text" action="" method="post">
            <p>Are you sure you want to delete {{ message.author }}'s message</p>
            <div>
                <p>MESSAGE BODY<br>{{ message.body|truncatechars:75 }}</p>
            </div>
            <button class="delete-button" type="submit">DELETE</button>
            <button class="outta-here-link"><a class="plain-link" href="{% url 'message-list' %}">GET ME OUTTA HERE</a></button>
            {% csrf_token %}
        </form>
    </section>
{% endblock %}